/* styles.css */

.scrollspy-example-2 {
	position: relative;
	height: 500px;
	overflow: auto;
}

.leftBox {
	font-size: 1.2rem;
}

@media (max-width: 720px) {
	.scrollspy-example-2 {
		height: 450px;
	}

	.leftBox {
		font-size: 0.05rem;
		--bs-nav-link-padding-x: 0.5rem;
	}

	.asideNav {
		flex-wrap: nowrap;
	}

	.navbar-brand {
		margin-right: 0;
		margin-left: 15%;
	}
}

#search-result {
	font-size: 1.7rem;
}

	#imagePopup {
	  display: none;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: white;
	  z-index: 9999;
	  text-align: center;
	}
  
	#popupImage {
	  max-width: 80%;
	  max-height: 80%;
	  margin-top: 10%;
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
	  border: 2px solid white;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	}   

	.image-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	margin-top: 10px;
  }

  .image-container img {
	max-width: 100%;
	max-height: 100%;
	display: none;
  }

  .image-container img.active {
	display: block;
  }

  .nav-item .btn {
	margin-bottom: 10px;
	width: 100%;
  }                                                   
 
	.white-button {
		background-color: white;
		color: #0d6efd ;
	}

	.white-button.clicked {
		background-color: #0d6efd ;
		color: white;
	}
